
body {
  font-family: 'Cinzel', serif;
  margin: 20px;
  background-image: url('https://images.wallpaperscraft.com/image/single/columns_architecture_greek_111145_1600x900.jpg');
  background-size: 100%;
}
.status-type{
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}
ol, ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  padding:0;
  margin: 10px;
  width: 600px;
  overflow-x: auto;
  overflow-y: hidden;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgba(255, 255, 255, 0.47);
  border: 2px double gold;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  transition: ease-in .2s;
}
.square:hover{
  border: 4px solid gold;
  transition: ease-in .2s;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}
.game-board {
  height: 295px;
  margin-top: 1%;
  border:4px double gold
}

.game-info {
  margin-left: 20px;
}
li{
  height:50px;
  width: 100px;
  margin: 15px;
}
.item-selected{
  font-family: 'Cinzel', serif;
  font-weight: bold;
  border: 6px gold double;
  border-radius: 4px;
  margin: 8px;
  height: 50px;
  width: 120px;
  background-color: rgb(234, 233, 240);
  color: rgb(37, 33, 33);
  transition: ease-in .2s;
}
.item-selected:hover{
  border:6px solid gold;
  background-color: #888;
  transition: ease-in .2s;
}
.not-selected{
  font-family: 'Cinzel', serif;
  border: 3px gold double;
  border-radius: 4px;
  margin: 8px;
  height: 50px;
  width: 120px;
  background-color: rgb(234, 233, 240);
  color: rgb(37, 33, 33);
  transition: ease-in .2s;
}
.not-selected:hover{
  border:6px solid gold;
  background-color: #888;
  transition: ease-in .2s;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}