
body {
  font-family: 'Cinzel', serif;
  margin: 20px;
  background-image: url('https://images.wallpaperscraft.com/image/single/columns_architecture_greek_111145_1600x900.jpg');
  background-size: 100%;
}

ol, ul {
  padding-left: 30px;
  text-decoration: none;
  list-style: none;
  margin: 10px
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 3px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  justify-content: center;
  height: 100%;
}
.game-board {
  height: 350px;
  margin-top: 10%;
}

.game-info {
  margin-left: 20px;
}
li{
  height:50px;
  width: 100px;
  margin: 7px;
}
.item-selected{
  font-family: 'Cinzel', serif;
  font-weight: bold;
  border: 6px gold double;
  border-radius: 4px;
  margin: 8px;
  height: 50px;
  width: 100px;
  background-color: rgb(234, 233, 240);
  color: rgb(37, 33, 33);
}
.not-selected{
  font-family: 'Cinzel', serif;
  border: 3px gold double;
  border-radius: 4px;
  margin: 8px;
  height: 50px;
  width: 100px;
  background-color: rgb(234, 233, 240);
  color: rgb(37, 33, 33);
}